{% extends "FuelTechSupportBundle::layout.html.twig" %}

{%block title%}
    {{parent()}}
    Home
{%endblock%}
{%block content%}
    <h2>Fuel Technic Support</h2>
    <p>Dit is de homepage van de support applicatie.</p>
{%endblock%}
