{% extends "::base.html.twig" %}

{%block title%}
    FT Support - 
{%endblock%}
{%block body%}
    {%block navigation%}
    <nav>
        <ul>
            <li><a href="{{path('fuel_tech_support_home')}}">Home</a></li>
        </ul>
    </nav>
    {%endblock%}
    {%block content%}
    {%endblock%}
{%endblock%}
