{%block form_row%}
    {%spaceless%}
        <div class="form_row">
            {{form_label(form)}}
            {{form_widget(form)}}
            {{form_errors(form)}}
        </div>
    {%endspaceless%}
{%endblock%}

{%block form_errors%}
    {%spaceless%}
        <label class="error">
            {%for error in errors%}
                {{error.message}}
            {%endfor%}
        </label>
    {%endspaceless%}
{%endblock%}